body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: -1;

  // background-repeat: repeat-y;
  background-color: #d0e7cb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// forms inputs etc
*:focus {
  outline: none;
}
button:focus {
  outline: 0;
}
form {
  text-align: center;
  margin: auto;
}

input:focus,
textarea:focus {
  border: none;
  color: $primaryColor;
  outline: none;
}

button {
  outline: 0;
  border: 0;
}

*,
html {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// main styles
.appContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

.introContainer {
  padding: 1rem;
  & h2 {
    font-weight: 700;
    letter-spacing: 0.25s;
  }
  & a {
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.Toastify__toast--success {
  background: $primaryColor !important;
  color: $secondaryColor !important;
  border-radius: $bigRadius;
  padding-left: 2rem;
}
