.introContainer {
  padding: 1rem;
  & h2 {
    font-weight: 700;
    letter-spacing: 0.25s;
  }
  & a {
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.Toastify__toast--success {
  background: $primaryColor !important;
  color: $secondaryColor !important;
  border-radius: $bigRadius;
  padding-left: 2rem;
}

.noTodosImg {
  width: 100%;
  height: 100%;
}
