////////////////////////////////////////////////////
// UPLOADER ////////////////////////////////////////
////////////////////////////////////////////////////
.modalOutline {
  border: 1px solid red;
}
.modal-backdrop.show {
  z-index: 0;
}
.modal.show {
  z-index: 2;
}
